/* Estilos para el carousel */
#carouselExampleCaptions {
  width: 100%; /* El carousel ocupará todo el ancho disponible */
  max-width: none; /* Evita que Bootstrap limite el ancho */
}

.carousel-item img {
  width: 100%; /* Las imágenes ocuparán todo el ancho del carousel */
  height: auto; /* El alto se ajustará automáticamente para mantener la proporción */
}

/* Opcional: Estilos para el texto en los elementos del carousel */
.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  color: white; /* Color del texto */
  position: absolute; /* Posicionamiento absoluto sobre las imágenes */
  bottom: 0; /* Alineación inferior del texto */
  left: 0; /* Alineación izquierda del texto */
  right: 0; /* Alineación derecha del texto */
  padding: 15px; /* Espacio interno del texto */
}



p{
    color: #AC3E3E;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;

  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #1D1919;
    box-shadow: 30px 0 0 #830909;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #830909;
    box-shadow: 30px 0 0 #1D1919;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #830909;
    }
    50% {
      box-shadow: 0 0 0 #830900;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #830909;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #1D1919;
    }
    50% {
      box-shadow: 0 0 0 #1D1919;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #1D1919;
      margin-top: 0;
    }
  }
  